body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 100px 30px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: var(--color-gray);
}

input,
label,
button {
  transition-duration: var(--transition-duration);
}