@import 'https://cdn.jsdelivr.net/npm/@a1rth/css-normalize@latest/normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");
:root {
  --color-dark: #000;
  --color-dark-alt: #2C2C2C;
  --color-light: #FFF;
  --color-gray: #F5F5F5;
  --color-dark-gray: #757575;
  --color-light-gray: #D9D9D9;
  --border: 1px solid var(--color-light-gray);
  --border-radius: 8px;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  --container-width: 356px;
  --container-padding-x: 24px;
  --section-padding-y: 24px;
  --input-height: 40px;
  --button-height: 40px;
  --transition-duration: 0.25s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 100px 30px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: var(--color-gray);
}

input,
label,
button {
  transition-duration: var(--transition-duration);
}

.header {
  margin-bottom: 12px;
}
.header__inner {
  width: 100%;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
.header__title {
  font-weight: 600;
}

.todo {
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 24px 0 24px 0;
  box-shadow: var(--box-shadow);
}
.todo__form {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 16px;
  margin-bottom: 24px;
}
.todo__field {
  width: 100%;
}
.todo__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: 600;
  margin-bottom: 24px;
}
.todo__tasks-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 10px;
  border: var(--border);
  border-radius: var(--border-radius);
}
.todo-item__checkbox {
  width: 18px;
  aspect-ratio: 1;
  accent-color: var(--color-dark-alt);
  margin-right: 12px;
}
.todo-item__delete-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  margin-left: auto;
}
.todo-item__delete-button:hover svg path {
  stroke: var(--color-dark-gray);
}
.todo__button {
  display: inline-flex;
  align-items: center;
  height: var(--button-height);
  padding: 12px;
  color: var(--color-gray);
  background-color: var(--color-dark-alt);
  border: var(--border);
  border-radius: var(--border-radius);
}
.todo__button:hover {
  background-color: var(--color-dark-gray);
}
.todo__delete-all-button {
  padding: 0;
  border: none;
}
.todo__delete-all-button:hover {
  color: var(--color-dark-gray);
}

.field__input {
  --fieldInputPaddingX: 16px;
  --fieldSeachInputIconSize: 16px;
  width: 100%;
  height: var(--input-height);
  padding: 12px 14px;
  border: var(--border);
  border-radius: var(--border-radius);
}
.field__input:focus {
  border-color: var(--color-dark-alt);
  outline: none;
}
.field__input[type=search]:placeholder-shown {
  background-image: url("/src/icons/search-icon.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) center;
  background-size: 18px;
}
.field__label {
  color: var(--color-dark-gray);
  cursor: pointer;
  flex: 1;
  margin-right: 12px;
}

/*# sourceMappingURL=main.css.map */
